body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.select {
	color: #2200FF;
	border-radius: 5px;
}
.orange {
	color: #FFCC00;
}
.blue {
	color: #0066FF;
}

.textboxclass {
width: 150px;
}
#new_risk {
	border: solid;
	border-width: 3px;
	border-radius: 5px;
	padding-top: 5px;
	background-color: #BBBBFF;
}
#new_risk .description{
	width: 100%;
}
#new_risk .form-group {
	margin-bottom: 5px;/*color: #FF0000;*/
}
#new_risk select {
	padding-top: 7px;
}

#Criticity {
	padding-top: 5px;
}
list-risks input{
	border-radius: 5px;
}
list-risks input:disabled, select:disabled{
	background-color: #FFFFFF;
	border:none;
}

list-risks .title{
	background-color: #000000;
	color: #DDDDDD;
}

.table-striped>tr:nth-child(odd){
   color:red;
}


.container {
	width : auto;
}
